/* body, div, header,footer{
    border: solid yellow;
} */
body{
    font-family: Arial, sans-serif;
    background-color: #3d3d3d;
    color: white;
}
header{
    display: flex;
    padding: 20px;
    background-color: #333333;
    border-bottom: solid gray 1px;
    z-index: 2000;
    position: relative; /* Add this line */
}
.main-content{
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 75%;
    margin: auto;
}
.content{
    flex: 1;
    padding: 10px;
    border-left:  solid white 1px;
    height: auto;
    box-shadow: white -20px 0px 20px -30px;
}
.content-left{
    margin-right: 20px;
}
footer{
    border-top: solid gray 1px;
    background-color: #3F3F3F;
    padding: 20px;
    z-index: 2000;
    position: relative; /* Add this line */
}
.main-footer-content{
    display: flex;
    padding: 20px;
    margin: auto;
}
.footer-content{
    flex: 1;
    padding: 10px;
    /* background-color: aqua; */
    border-left:  solid white 1px;
    height: auto;
    box-shadow: white -20px 0px 20px -30px;
}
.sidebar {
    position: fixed; /* or 'absolute' if you want it to scroll with the page */
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    width: 250px;
    background-color: #313131;
    transition: transform 0.3s ease;
    border-right: gray;
    padding-left: 10px;
    border-right: solid gray 1px;
}
.sidebar.closed {
    transform: translateX(-100%);
}

.toggle-btn {
    position: absolute;
    top: 0px;
    right: -50px; /* Adjust based on your styling */
    cursor: pointer;
}

/* Adjust styles for open state as needed */
.sidebar.open .toggle-btn {
    right: -50px; /* Keep the button with the sidebar */
}
.toggle-btn{
    transition: 0.1s;
    background-color: #313131;
    color: white;
    height: 50px;
    width: 50px;
    border: transparent;
    border-radius: 0px 0px 20px 0px;
    border-right: solid gray 1px;
    border-bottom: solid gray 1px;
}
.toggle-btn:hover{
    background-color: #444444;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 40px; /* Adjust based on button size */
    background-color: #313131;
    border-right: gray;
}

.sidebar ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color:white;
    background-color: #313131;
}
.HomeImage {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; /* Start images as invisible */
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

/* Slide animation for the current image */
.HomeImage.slide {
    animation: slideOut 1s forwards;
}

/* Overlapping slide animation for the next image */
.HomeImage.slide.next {
    animation: slideIn 1s forwards;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 1;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 1;
    }
}

.banner {
    width: 80%;
    /* height: 40rem; */ /* Comment out or remove */
    margin: auto;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    border-radius: 50px;
    box-shadow: gray 0px 0px 0px 2px;
}

.LogoHeader{
    width: 100px;
    height: 100px;
    /* overflow: hidden; */
    margin: auto;
    text-align: center;
    background-color: transparent;
}
.Logo{
    margin-top: 5px;
    width: 80px;
    height: 80px;
    border: solid white;
    border-radius: 100%;
}
.Profile{
    margin-top: 5px;
    width: 80px;
    height: 80px;
    border: solid white;
    border-radius: 100%;
}
.ProfileHeader{
    width: 100px;
    height: 100px;
    /* overflow: hidden; */
    margin: auto;
    text-align: center;
}
.Logo:hover{
    box-shadow: white 0 0 5px 1px;
}
.header-text{
    width: 100%;
    margin: auto;
    text-align: center;
}
.URL_Links{
    color: white;
}
.sidebar ul li button {
    background: none;
    border: none;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: left;
}

.sidebar ul li div {
    padding-left: 20px;
}
.ToggleButton:hover{
    color: lightgray;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.imagebox {
    width: 30vw; /* Set width relative to viewport width */
    height: 30vw; /* Set height the same as width to maintain 1:1 aspect ratio */
    text-align: flex-end;
    border: solid gray 1px;
    margin: 20px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #000;
    overflow: hidden;
    border-radius: 30px;
    transition: 0.1s;
}
.imagebox:hover{
    border: solid white 1px;
}
@media (min-width: 1200px) {
    .imagebox {
        width: 360px;
        height: 360px;
    }
}
.box-text{
    padding: 0px 10px 0 10px;
    background-color: #1d1d1d99;
    border: transparent;
    border-left: solid gray 1px;
    border-top: solid gray 1px;
    border-radius: 50px 0 0 0;
    transition: 0.1s;
    width: fit-content;
    position:absolute ;
}
.RowBox{
    border-bottom: solid gray 1px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#NameForBox{
    color: lightgray;
    border-bottom: solid gray 1px;
    width: 20%;
    align-self: center;
}
#NameForBox:hover{
    color: white;
}

#Date{
    margin-top: 0px;
    font-size: 10px;
}
#ImageTittle{
    margin-bottom: 0px;
    
}
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background: #333;
}
::-webkit-scrollbar-thumb {
    background-color: #222;
    border-radius: 6px;
    border: 3px solid #333;
}
::-webkit-scrollbar-button{
    background-color: #222;
    border-radius: 6px;
    border: 3px solid #333;
}
#ImageLink{
    color: white;
    text-decoration: none; 
}
#ShowMore{
    border: transparent;
    background-color: transparent;
    color: white;
    font-size: x-large;
    padding-bottom: 10px;
    opacity: 0.5;
    transition: 0.1s;
}
#ShowMore:hover{
    opacity: 1;
}
.image-preview {
    width: 100%; /* Adjust as necessary */
    height: auto; /* Adjust as necessary */
    object-fit: cover; /* This ensures the images cover the area nicely */
    position: absolute;
}
.ImagePageImage{
    text-align: center;
}
#ImagePageImage{
    max-width: 100%;
}
  
    @media (max-width: 750px) {
        .main-content{
            display: flex;
            flex-direction: column;
        }
        .content{
            margin: 10px;
        }
        .row{
            display: flex;
            flex-direction: column;
            padding: 0%;
        }
        .imagebox{
            width: 300px;
            height: 300px;
        }
}