/* div, header, body, footer{
    border: solid yellow 1px;
    padding: 10px;
    margin: 10px;
} */

body{
    font-family: Arial, sans-serif;
    background-color: #3d3d3d;
    color: white;
    
}
header{
    text-align: center;
    padding: 20px;
    background-color: #333333;
    border-bottom: solid gray 1px;
}
.banner{
    width: 100%;
    height: 500px;
    background-color: #444444;
    /* background-color: red; */
    width: 80%;
    margin: auto;
    margin-top: 20px;
    overflow: hidden;
}
.HomeImage{
    width: 100%;
}
.main-content{
    display: flex;
    padding: 20px;
    width: 75%;
    margin: auto;
}
.content{
    flex: 1;
    padding: 10px;
    /* background-color: aqua; */
    border-left:  solid white 1px;
    height: auto;
    box-shadow: white -20px 0px 20px -30px;
}
.content-left{
    margin-right: 20px;
}
footer{
    border-top: solid gray 1px;
    background-color: #3F3F3F;
    padding: 20px;
    /* text-align: center; */
}
.main-footer-content{
    display: flex;
    padding: 20px;
    margin: auto;
}
.footer-content{
    flex: 1;
    padding: 10px;
    /* background-color: aqua; */
    border-left:  solid white 1px;
    height: auto;
    box-shadow: white -20px 0px 20px -30px;
}
.sidebar {
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #313131;
    transition: transform 0.3s ease;
    border-right: gray;
}

.sidebar.closed {
    transform: translateX(-100%);
}

.toggle-btn {
    position: absolute;
    top: 120px;
    right: -50px; /* Adjust based on your styling */
    cursor: pointer;
}

/* Adjust styles for open state as needed */
.sidebar.open .toggle-btn {
    right: -50px; /* Keep the button with the sidebar */
}
.toggle-btn{
    background-color: #333333;
    color: white;
    height: 50px;
    width: 50px;
    border: transparent;
}
.toggle-btn:hover{
    background-color: #313131;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 40px; /* Adjust based on button size */
    background-color: #313131;
    border-right: gray;
}

.sidebar ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color:white;
    background-color: #313131;
}
  
  