footer{
    border-top: solid gray 1px;
    background-color: #030021;
    display: flex;
    color: white;
}
.logobox{
    width: 70%;
    margin:  10px auto 10px;
}
.footbox_sosals{
    margin: auto 10px auto 10px;
}
#FootDownBad{
    height: 50px;
    opacity: 80%;
    transition: 0.3s;
}
#FootDownBad:hover{
    opacity: 100%;
}
.sosals_image{
    margin: 10px;
    width: 50px;
    height: 50px;
    border: solid white 1px;
    border-radius: 50%;
    background-color: transparent;
    transition: 0.3s;
    overflow: hidden;
}
.sosals_image:hover{
    background-color: gray;
    border:  solid gray 1px;
}
#sosalmedia{
    text-align: center;
    width:100%;
}
.contacts{
    padding-right: 20px;
    text-align: end;
    width: 30%;
}

@media (max-width: 768px) {
    .footbox_sosals{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    #DownBad{
        height: 70px; /* Adjust size as needed */
    }
    .sosals_image{
        width: 30px; /* Adjust size as needed */
        height: 30px; /* Adjust size as needed */
    }
    #footbox{
        margin: auto;
        text-align: center;
        width: 80%;
        justify-content: center;
    }

}