header{
    border-bottom: solid gray 1px;
    display: flex;
    color: white;
    height: 150px;
}
.theme-toggle-button {
    margin-left: auto;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: var(--button-bg);
    color: var(--button-text);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.theme-toggle-button:hover {
    background-color: var(--button-bg-hover);
    color: var(--button-text-hover);
}

.logobox{
    width: 70%;
    margin: auto 10px auto 10px;
}
.footbox_sosals{
    margin: auto 10px auto 10px;
}
#DownBad{
    height: 100px;
    opacity: 80%;
    transition: 0.3s;
}
#DownBad:hover{
    opacity: 100%;
}
.sosals_image{
    margin: 10px;
    width: 50px;
    height: 50px;
    border: solid white 1px;
    border-radius: 50%;
    background-color: transparent;
    transition: 0.3s;
    overflow: hidden;
}
.sosals_image:hover{
    background-color: gray;
    border:  solid gray 1px;
}
#sosalmedia{
    text-align: center;
    width:100%;
}
.contacts{
    padding-right: 20px;
    text-align: end;
    width: 30%;
}
.DevLog{
    margin: auto 10px auto 10px;
    display: flex;
    
}
#Link{
    color: lightgray;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
#Link:hover{
    color: white;
}
.spacing{
    padding: 10px;
}
.workinporgress h2{
    margin: 10px;
}
@media (max-width: 768px) {
    header{
        height: 100px;
    }
    .logobox{
        margin: auto 1px auto 1px;
    }
    #DownBad{
        height: 50px;
    }
    .DevLog{
        display: none;
        
    }
}