.row{
    padding: 10px;
    display: flex;
}
.ProgressUpdatecontainer{
    overflow: hidden;
    margin: auto;
}
.ProgressUpdatebox{
    overflow: hidden;
    margin: auto;
    border: solid gray 1px;
    width: 400px;
    height: 400px;
    border-radius: 25px;
    transition: 0.3s;
}
.ProgressUpdatebox:hover{
    border: solid white 1px;
}
.imagebox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagebox:hover #previewimage{
    height: 410px;
}
#previewimage{
    height: 400px;
    transition: 0.3s;
}
/* ProgressUpdateDetails */
#ProgressUpdateDetailsH1{
    display: flex;
    justify-content: center;
    font-size: xx-large;
}
#ProgressUpdateDetailsP{
    display: flex;
    justify-content: center;
}
#ProgressUpdateDetailsImg{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
}
@media (max-width: 768px) {
    .row{
        display: flex;
        flex-direction: column;
    }
    .ProgressUpdatebox{
        width: 20rem;
        height: 20rem;    
    }
}