header{
    display: flex;
    padding: 20px;
    background-color: #333333;
    border-bottom: solid gray 1px;
    z-index: 2000;
    position: relative; /* Add this line */
}
.LogoHeader{
    align-content: center;
}
.Logo{
    margin-top: 5px;
    height: 80px;
    opacity: 80%;
}

.Logo:hover{
    opacity: 100%;
}
