.sidebar ul li button {
    background: none;
    border: none;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: left;
}

.sidebar ul li div {
    padding-left: 20px;
}
.sidebar {
    position: fixed; /* or 'absolute' if you want it to scroll with the page */
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    width: 250px;
    background-color: #313131;
    transition: transform 0.3s ease;
    border-right: gray;
    padding-left: 10px;
    border-right: solid gray 1px;
}
.sidebar.closed {
    transform: translateX(-100%);
}

.toggle-btn {
    position: absolute;
    top: 0px;
    right: -50px; /* Adjust based on your styling */
    cursor: pointer;
}
.sidebar.open .toggle-btn {
    right: -50px; /* Keep the button with the sidebar */
}
.toggle-btn{
    transition: 0.1s;
    background-color: #313131;
    color: white;
    height: 50px;
    width: 50px;
    border: transparent;
    border-radius: 0px 0px 20px 0px;
    border-right: solid gray 1px;
    border-bottom: solid gray 1px;
}
.toggle-btn:hover{
    background-color: #444444;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 40px; /* Adjust based on button size */
    background-color: #313131;
    border-right: gray;
}

.sidebar ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color:white;
    background-color: #313131;
}